$baloo: 'Baloo Thambi 2';

.contact-container {
  background: linear-gradient(90deg, rgba(0,0,0,1) 66.7%, white 33%);

  .link {
    text-decoration: none;
  }

  .linkedIn {
    color: white;
  }

  .gitHub {
    color: black;
  }

  .logo-large {
    grid-column: 9/12;
    grid-row: 3/6;
    justify-self: end;
    align-self: center;

    .logo {
      font-family: $baloo;
      font-weight: 400;
      font-size: 6rem;
      color: black;
    }
  }

  .contact-title {
    grid-column: 3/7;
    grid-row: 2/3;
    align-self: end;
  }

  .contact-me {
    display: flex;
    grid-column: 3/6;
    grid-row: 3/6;
    align-items: center;

    #email {
      background-color: black;
      font-family: $baloo;
      color: white;
    }

    #message {
      margin: 1vh 0;
      background-color: black;
      font-family: $baloo;
      color: white;
    }

    #submit {
      width: 5vw;
      border-radius: 15px;
      font-family: $baloo;
    }
  }

  .contact-icons {
    grid-column: 8/10;
    grid-row: 7/8;
    justify-self: center;
    align-self: center;
    font-size: 2em;
  }
}

@media (min-width: 3072px) {
  .contact-container {
    .logo-large {
      .logo {
        font-size: 13rem;
      }
    }

    .contact-title {
      font-size: 6rem;
    }

    .contact-me {
      .contact-form {
        display: flex;
        flex-direction: column;

        #email {
          height: 4vh;
          width: 12vw;
          font-size: 2rem;
        }
        #message {
          height: 22vh;
          width: 32vw;
          font-size: 2rem;
        }

        #submit {
          height: 3vh;
          width: 6vw;
          border-radius: 30px;
          font-size: 2rem;
        }
      }
    }

    .contact-icons {
      font-size: 5rem;
    }

    .closing-tag {
      font-size: 15rem;
    }
  }
}

