$baloo: 'Baloo Thambi 2';

.home-container {
  background: linear-gradient(90deg, rgba(0,0,0,1) 33.3%, white 18%);

  .logo-large {
    grid-column: 2/5;
    grid-row: 3/6;
    text-align: center;
    justify-self: start;
    align-self: center;

    .logo {
      font-family: $baloo;
      font-weight: 400;
      font-size: 6rem;
    }
  }

  .profile-pic {
    height: 40vh;
    width: 30vw;
    grid-column: 5/9;
    grid-row: 3/6;
    margin-left: 4vw;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    filter: grayscale(0.9) brightness(1.4);
  }

  .name {
    display: flex;
    flex-direction: column;
    grid-column: 9/12;
    grid-row: 2/7;
    color: black;
    justify-self: center;
    align-self: center;

    .fullname {
      margin: 0;
      font-size: 6rem;
      font-family: 'Bebas Neue';
    }

    .title {
      margin: 0;
      font-size: 20px;
    }
  }
}

@media (min-width: 300px) {
  .home-container {
    background: black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);

    .logo-large {
      grid-column: 2/5;
      grid-row: 3/6;
      text-align: center;
      justify-self: start;
      align-self: center;

      .logo {
        font-family: $baloo;
        font-weight: 400;
        font-size: 6rem;
      }
    }

    .profile-pic {
      height: 40vh;
      width: 30vw;
      grid-column: 5/9;
      grid-row: 3/6;
      margin-left: 4vw;
      align-self: center;
      justify-self: center;
      border-radius: 20px;
      filter: grayscale(0.9) brightness(1.4);
    }

    .name {
      display: flex;
      flex-direction: column;
      grid-column: 9/12;
      grid-row: 2/7;
      color: black;
      justify-self: center;
      align-self: center;

      .fullname {
        margin: 0;
        font-size: 6rem;
        font-family: 'Bebas Neue';
      }

      .title {
        margin: 0;
        font-size: 20px;
      }
    }
  }
}

