<div class="transition transition-down-top">
  <div class="load-container">
    <h1 class="load-logo">[=R_S=]</h1>
  </div>
</div>

<div class="page-container" style="background-color: black;">
  <p class="opening-tag tag"><</p>
  <div class="enter">
    <h1 class="enter-logo">[=R_S=]</h1>
    <%= link_to 'Enter', './assets/view/pages/home.html', class: "enter-link navs" %>
  </div>
  <p class="closing-tag tag">/></p>
</div>


