<div class="transition transition-top-down is-active">
  <div class="load-container">
    <h1 class="load-logo">[=R_S=]</h1>
  </div>
</div>

<div class="page-container home-container">
  <p class="opening-tag tag"><</p>
  <class class="logo-large">
    <h1 class="logo">[=R_S=]</h1>
  </class>

  <%= image_tag "profile.png", alt: "alttext", class: "profile-pic" %>

  <div class="name">
    <h1 class="fullname">Ryugi<br>Suguro</h1>
    <h3 class="title">Full Stack Developer</h3>
  </div>
  <%= partial 'assets/view/components/navigation' %>
</div>
