---
title: "[=R_S=]"
page: "projects"
---

<div class="transition transition-left-right is-active">
  <div class="load-container">
    <h1 class="load-logo">[=R_S=]</h1>
  </div>
</div>

<div class="page-container projects-container">
  <h1 class="page-title">/PROJECTS</h1>

  <div class="projects">
    <div class="projects-card">
      <%= image_tag "bond.png", alt: "alttext", class: "images bond"%>
      <div class="description">
        <h3 class="title">
          Bond Blends
        </h3>
        <p class="information">
          View a collection of fine cocktails and include your favorite as well.
        </p>
      </div>
    </div>
    <div class="projects-card">
      <%= image_tag "cook.png", alt: "alttext", class: "images cook" %>
      <div class="description">
        <h3 class="title">
          Book A Cook
        </h3>
        <p class="information">
          Have a big event to host? Book your very own private chef.
        </p>
      </div>
    </div>
    <div class="projects-card">
      <%= image_tag "derby.png", alt: "alttext", class: "images derby"%>
      <div class="description">
        <h3 class="title">
          Nicotine Derby
        </h3>
        <p class="information">
          Race your lungs out by competing against others to reduce your smoking habit.
        </p>
      </div>
    </div>
  </div>
  <%= partial 'assets/view/components/navigation' %>
</div>
